body {
  background-color: #fffdd0;
  float: none !important;
}

h1 {
  text-align: center;
  color: white;
  background-color: rgb(139 119 119);
  box-shadow: 1px 2px 0 orangered;
}

p {
  line-height: 1.4;
}

h2 + p::first-letter {
  color: white;
  background-color: rgb(139 119 119);
  border-radius: 0.5px;
  box-shadow: 1px 2px 0 orangered;
  font-size: 3em;
  padding: 0.5rem 1rem;
  margin-right: 6px;
  float: left;
}

a {
    text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
  color: #8a3e22;
}

li {
    list-style-type: none;
    line-height: 1.5;
    padding: 8px;
    margin: 8px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 4px solid #dbdabf;
  border-radius: 1rem;
}

figure {
  border: 1px #cccccc solid;
  margin: auto 0;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

#myImg {
    object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}