* {
  box-sizing: border-box;
}

body {
  background-color: #fffdd0;
  float: none !important;
}

h1 {
  text-align: center;
  color: white;
  background-color: rgb(139 119 119);
  box-shadow: 1px 2px 0 orangered;
}

p {
  line-height: 1.4;
  padding: 8px;
  margin: 24px;
}

h2 {
  color: white;
  background-color: rgb(139 119 119);
  box-shadow: 1px 2px 0 orangered;
}

h2 + p::first-letter {
  color: white;
  background-color: rgb(139 119 119);
  border-radius: 0.5px;
  box-shadow: 1px 2px 0 orangered;
  font-size: 3em;
  padding: 0.5rem 1rem;
  margin-right: 6px;
  float: left;
}

a {
    text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
  color: #8a3e22;
}

li {
    list-style-type: none;
    line-height: 1.5;
    padding: 8px;
    margin: 8px;
}

.hero-image {
  background-image: url("images/old129.webp");
  background-color:rgb(139 119 119);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



img {
  background-color: orangered;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #36362e;
  border-radius: 1rem;
}

/* Commented out to try Tab Gallery Method 9/24/22 MB

figure {
  border: 1px #cccccc solid;
  margin: auto 0;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.row {
  display: flex;
}

.col {
  flex: 50%;
  padding: 5px;
}


/* Tab Gallery */

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

#expandedImg {
  aspect-ratio: 2/1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
/*
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
*/